body {
  background-color: #1c1c1c;
}
/* ****************** CSS for Info.js ************************/
.card {
  width: 550px;
  height: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #23252c;
  display: grid;
  place-items: center;
  border-radius: 25px;
  position: relative;
}

.name {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 30px;
  text-align: center;
}

.profession {
  color: #f3bf99;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 10%;
  text-align: center;
  padding-top: 0px;
}

.portfolio {
  color: #f5f5f5;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
}

.my-headshot {
  width: 100%;
  height: 80%;
  object-fit: contain;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.mail-button {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  width: 130px;
  height: 40px;
  left: 151px;
  top: 468px;
  margin-right: 30px;
  background: #ffffff;
  /* gray/300 */

  border: 1px solid #d1d5db;
  box-sizing: border-box;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.linkedin-button {
  font-family: Inter, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  /* position: absolute; */
  width: 130px;
  height: 40px;
  left: 283px;
  top: 468px;
  background: #5093e2;
  /* gray/300 */

  border: 1px solid #5093e2;
  box-sizing: border-box;

  border-radius: 6px;
}
/* This is centering the buttons */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* This adds space between the icon and text in button */
button i::before {
  padding-right: 11px;
}

/* **************************************************** */
